@import 'https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Slab&display=swap';

$josefin-slab: 'Josefin Slab', serif;
$great-vibes: 'Great Vibes', cursive;

.navbar-custom {
    background-color: #977A5C;

    #logoText {
        font-family: $great-vibes;
    }

    a {
        font-family: $josefin-slab;
        font-size: 20px;
    }
}